.content-section{
  background-image: linear-gradient( rgba(33, 26, 92, 0.527)), url(/images/content-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 95vh;
  padding: 15px;

}

.content-section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:10px auto;
}

.content-section-content span{
 font-weight: 500;
margin: 50px 0 20px 0;
}

.content-section-content p{
  font-size: 14px;
  margin-top: 15px;
}

@media (min-width:768px) {

  .content-section-content span{
margin: 70px 0 20px 0;
}
.content-section-content h2 {
  font-size: 32px;
}

.content-section-content p{
  width: 600px;
  margin-top: 20px;
}

}


@media (min-width:1024px) {

  .content-section{
    padding: 20px;
  }

  .content-section-content span{
margin: 100px 0 30px 0;
font-size: 14px;
 font-weight: 700;
}
.content-section-content h2 {
  font-size: 48px;
   font-weight: 700;
  width: 90%;
}

.content-section-content p{
  font-size: 22px;
  margin-top: 30px;
  font-weight: 500;
  width:90% ;
}

}


@media (min-width:1440px) {

  .content-section-content span{
    padding: 0 30px 50px 0;
    font-size: 24px;

  }
  .content-section-content h2 {
    padding: 0 30px 20px 0;
    font-size: 58px;
    width: 950px;
  }

  .content-section-content p {
    width: 1000px;
    margin-top: 40px;
  }

}