.contact-section{
  background-image: linear-gradient(rgba(25, 26, 82, 0.534)), url(../images/contact-bg.png);
  padding: 15px;
  height: 150dvh;
}

.contact-section-left-side{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-section-left-side h3{
font-size: 24px;
text-align: left;
}

.contact-section-left-side span{
  font-size: 14px;
}

.icon-details{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.icon-details img{
  width: 15px;
  object-fit: contain;
}

.icon-details p{
  font-size: 14px;
}

.contact-form{
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.contact-form label{
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.contact-form-top{
  display: flex;
  gap: 10px;
}

.label-input{
  margin-top: 20px;
}

.label-input input{
  margin-top: 3px;
  color: black;
}
.label-input textarea{
  margin-top: 3px;
  border: solid 2px rgb(219, 213, 213);
}

.message{
  padding: 10px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  color: black;
}

.checkbox-copy{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 10px;

}

.checkbox-copy input{
  width: 25px;
  margin-bottom: 15px;
}

.checkbox-copy p{
  color: black;
}

.contact-form-bottom button{
  background-color: #25DAC5;
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  display: block;
  margin: auto;
}

@media (min-width:768px) {
.contact-section{
  height: 100dvh;
  padding: 20px;
  display: flex;
}

.contact-section-left-side{
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.contact-section-left-side h3{
font-size: 24px;
}

.contact-section-left-side span{
  width: 300px;
  font-size: 15px;
}


.contact-form{
  padding: 20px;
  max-width: 400px;
  height: 450px;
 }

#firstname{
  width: 200px;
}  

.label-input{
  margin-top: 30px;
  }

.label-input input{
  margin-top: 3px;
  color: black;
  padding: 12px;
}
    
.message{
    height: 150px;
}

.checkbox-copy p{
  color: black;
  font-size: 12px;
}

.contact-form-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}


}

@media (min-width:1024px) {

  .contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-section-left-side{
  margin-bottom: 0px;
  gap: 25px;
}

.contact-section-left-side h3{
font-size: 34px;
}

.contact-section-left-side span{
  font-size: 17px;
}

.contact-form{
  height: 400px;
  }

.contact-form label{
  font-size: 12px;
  font-weight: 600;
}

.label-input{
  margin-top: 20px;
}

.message{
  padding: 10px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  color: black;
}

.checkbox-copy input{
  width: 25px;
  margin-bottom: 30px;
}

}

@media (min-width:1440px) {
  .contact-section{
    height: 80dvh;
  }
.contact-section-left-side h3{
font-size: 40px;
}

.contact-section-left-side span{
  font-size: 18px;
}

.contact-form{
  height: 500px;
  }

.contact-form label{
  font-size: 17px;
}

.label-input{
  margin-top: 40px;
}

.message{
  height: 130px;
  width: 100%;
}

.checkbox-copy input{
  width: 25px;
  margin-bottom: 27px;
}

.checkbox-copy p{
  font-size: 18px;
}

.contact-form-bottom button{
  padding: 15px 40px;
  margin-top: 26px;

}

}