
.features-section{
  background-image: url(../images/features-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
height: 90dvh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 15px;
gap: 10px;
}

.laptop{
  display: none;
}

.center-content-top h3{
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 24px;
}

.center-content-top p{
  margin-bottom: 40px;
  font-size: 14px;
}


.center-content-copy, .center-content-diamond{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.center-content-copy span, .center-content-diamond span{
font-weight: 700;
margin: 15px auto;
}

.center-content-copy img, .center-content-diamond img{
  width: 30px;
}

.pagination img{
  width: 50px;
  margin-top: 15px;
}

@media (min-width:768px) {
  
.features-section{
display: flex;
flex-direction: row;
gap: 10px;
}

.laptop{
  display: block;
  margin-left: -15px;
}

.laptop img{
  width: 300px;

}


.center-content-bottom{
display: grid;
grid-template-columns: 1fr 1fr;

}

.pagination{
  transform: rotate(90deg);
}



}

@media (min-width:1024px) {
  .features-section{

padding: 20px;

}

.laptop img{
  width: 450px;

}

.center-content-top h3{
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 38px;
}

.center-content-top p{
  margin-bottom: 40px;
  font-size: 22px;
}

.center-content-bottom{
  gap: 10px;
}


.center-content-copy, .center-content-diamond{
  margin-top: 20px;
  font-size: 22px;
}

.center-content-copy span, .center-content-diamond span{
font-weight: 700;
margin: 15px auto;
font-size: 24px;
}

.center-content-copy img, .center-content-diamond img{
  width: 50px;
}

  .pagination img{
  width: 70px;
 
}
}
