.footer-section{
  background-color: #2f1893;
  height: 25dvh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.footer-section-top{
  display: flex;
  gap: 20px;

}
.footer-section-top h4{
  font-size: 12px;
}

.footer-section-top-right{
   display: flex;
  gap: 6px;
}

.footer-section-top-right img{
  width: 10px;
  object-fit: contain;
  
}


.footer-section-bottom-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.footer-section p{
  font-size: 12px;
}

.line{
  width: 20px;
}

@media (min-width:768px) {
  .footer-section{
  padding: 15px;
  justify-content: space-between;
  height: 20dvh;

}

.footer-section-top{
  display: flex;
  align-items: stretch;
  gap: 400px;

}

.footer-section-top-right{
  padding-left: 30px;
}

.footer-section-bottom-left{
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
}

 .footer-section-bottom{
  display: flex;
  gap: 40px;

}
.line{
  width: 600px;
}


}

@media (min-width:1024px) {
   .footer-section-bottom{
  display: flex;
  gap: 200px;

}

.footer-section{

  height: 15dvh;
}



.footer-section-top{
  gap: 500px;
}

.line{
  width: 700px;
}
}

@media (min-width:1024px) {
  .footer-section p{
  font-size: 17px;
}

.line{
  width: 950px;
}

.footer-section-top{
  gap: 700px;
}

.footer-section-top h4{
 font-size: 20px;
}

  .footer-section-bottom{
  display: flex;
  gap: 300px;

}

.footer-section-top-right img{
  width: 15px;
  object-fit: contain;

}

}