
.form-section{
  background-image: linear-gradient(rgba(52, 50, 122, 0.534)), url(/images/content-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.form-section-content h3{
  font-size: 24px;
margin-bottom: 10px;
}

.form-section-content p{
  font-size: 14px;
}

form{
  background-color: white;
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
  width: 250px;
 
}
#form-sl{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 70px;
  color: black;
  font-weight: 800;
  border-bottom: 2px solid gray;
  margin-bottom: 10px;

}

#form-sl p{
  color: black;
  font-weight: 800;
  font-size: x-small;
  padding: 10px;
}


input{
  border: solid 2px gainsboro;
  border-radius: 20px;
  padding: 10px;
  margin-top: 15px;
  width: 100%;
}

.create, .login{
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
}

.create{
  background-color: #25DAC5;
  margin: 25px auto 15px auto;
}

.login{
  background-color: #1DA1F2;
  margin: 10px auto;
}

.or{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 7px;
}

.or p{
  
  color: black;
}

hr{
  background-color: black;
  width: 60%;
}

@media (min-width:768px) {
.form-section{
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}

.form-section-content{
  width: 750px;
}

form{
  background-color: white;
  padding: 15px 15px 20px 15px;
  border-radius: 15px;
  width: 80%;
 
}

}


@media (min-width:1024px) {
  .form-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding-left: 30px;
    padding-right: 20px;
  }
  
.form-section-content h3{
margin-bottom: 20px;
font-size: 30px;
width: 400px;
}

.form-section-content p {
  font-size: 17px;
}

form{
  padding: 30px 40px 25px 40px;
  width: 420px;;
  height:450px;
  margin-right: 100px;
}

#form-sl{
  justify-content:center;
  gap: 100px;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 30px auto;
  padding-bottom: 10px;
  
}

#form-sl p{
  font-size: 14px;
  
}

input{
  padding: 15px;
  margin-top: 30px;
  width: 100%;
}

.create, .login{
  padding: 15px 20px;
  font-size: 16px;
}

.create{
  margin: 35px auto 20px auto;
}

.login{
  margin: 20px auto;
}

}

@media (min-width:1440px) {
.form-section-content{
  width: 100%;
  padding-left: 100px;
} 

.form-section-content h3{
margin-bottom: 25px;
font-size: 38px;
}

.form-section-content p{
  width: 600px;
}
form{
  width: 500px;
  margin-right: 450px;
}

#form-sl{
  gap: 50px;
}

#form-sl p{
padding-right: 5px;
}

}