.pricing-table-section{
  background-image: linear-gradient(rgba(44, 63, 101, 0.575)), url(../images/pricing-table-bg.jpg);
  background-size: cover;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.pricing-table-section-top h3{
  font-size: 20px;
  text-align: center;
}

.pricing-table-section-top span{
    font-size: 14px;
  text-align: center;
}

.plan-price-type{
padding: 45px;
border: solid 1px white;
border-radius: 8px;
margin-bottom: 30px;
max-width: 400px;
}

.plan-price-type p{
  font-size: 13px;
  margin-bottom: 15px;

}
#plan-type{
  font-size: 16px;
  margin: 30px 0;
}

#price-type{
  font-size: 30px;
  margin: 30px 0;
}

.plan-price-type img{
  width: 12px;
}

.unchecked{
  margin-left: 18px;
  margin-bottom: 25px;
}

.plan-price-type button{
  padding: 10px 25px;
  display: block;
  margin: auto;
  background-color: transparent;
  border: solid 1px whitesmoke;
  border-radius: 20px;
}

@media (min-width:768px) {
  .plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }


.pricing-table-section-top {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pricing-table-section-top span{
  width: 400px;
}
}


@media (min-width:1024px) {
  .plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .plan-price-type{
  max-width: 1000px;
  }
}

@media (min-width:1024px) {
  .plan-price-type{
  width: 220px;
  }

   .plans{
    gap: 20px;
  }

  .pricing-table-section-top h3{
    padding-top: 50px;
  font-size: 32px;
}

.pricing-table-section-top span{
    font-size: 18px;
  width: 500px;
}

#plan-type{
  font-size: 22px;
}

#price-type{
  font-size: 35px;
}

.plan-price-type p{
  font-size: 16px;
}

.plan-price-type button{
  padding: 15px 30px;  
}

}

