.pricing-table{
  background-color: black;
  padding: 10px 20px;

}

.heading1{
  font-size: 25px;
  text-align: center;
}

.heading2{
  font-size: 14px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  gap: 10px; 
  font-size: 13px;
}

.starter, .professional, .team{
  border: solid;
  border-width: 1px;
  padding: 30 50; 
  border-radius: 5px;
  line-height: 20px;
}

.plan-type{
  padding-bottom: 10;
  font-size: 15;
 
}

.price{
  text-align: center;
  font-size: 30;
  margin-bottom: 20;
  margin-top: 20;
}

.unchecked{
  padding-left: 16px;
}

.started-button{
  padding: 10px 15px;
  color: black;
  background-color: rgb(247, 240, 240);
  border: none;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
  text-align: center;
  box-shadow: rgba(15, 15, 15, 0.966) 3px 3px 3px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .pricing-table{
  background-color: black;
  padding: 10px 20px;

}

.heading1{
  font-size: 25px;
  text-align: center;
}

.heading2{
  font-size: 14px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}

.plan{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px; 
  font-size: 13px;
  /* width: 725; */
  padding-bottom: 30;
}

.starter, .professional, .team{
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: solid;
  border-width: 1px;
  padding: 30 20; 
  border-radius: 5px;
  line-height: 20px;
}

.plan-type{
  padding-bottom: 10;
  font-size: 20;
}

.price{
  text-align: center;
  font-size: 30;
  margin-bottom: 25;
  margin-top: 20;
}

}

@media (min-width: 1024px) {
  .pricing-table{
  background-color: black;
  padding: 10px 20px;

}

.heading1{
  font-size: 30px;
}

.heading2{
  font-size: 18px;
}
.plan{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px; 
  /* width: 725; */
  padding-bottom: 30;
}

.starter, .professional, .team{
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: solid;
  border-width: 1px;
  padding: 30 20; 
  border-radius: 5px;
  line-height: 28px;
  font-size: 17px; 
}

.plan-type{
  padding-bottom: 30;
  font-size: 25;
}

.unchecked{
  padding-left: 25;
}

.started-button{
font-size: 16px;
}

}

@media (min-width: 1440px) {
  .pricing-table{
    padding: 20 70;
  }
.heading1{
  font-size: 30px;
}

.heading2{
  font-size: 20px;
}
.plan{
  gap: 50px; 
  /* width: 725; */
  padding-bottom: 30;
}

.starter, .professional, .team{
  padding: 30 20; 
  line-height: 33px;
  font-size: 20px; 
  /* height: 500px; */
}

.plan-type{
  padding-bottom: 30;
  font-size: 25;
}

.price{
  font-size: 35;
  margin-bottom: 35;
  margin-top: 20;
}

.unchecked{
  padding-left: 25;
}

.started-button{
  margin-top: 45px;
  font-size: 20px;
  padding: 15 20;
}

}

