.showcase-section{
  background-color: #2f1893;
  padding: 15px;
  height: 190dvh;
}
 
.showcase-section-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
 
.showcase-section-top p{
  font-size: 14px;
}

.showcase-section-top button{
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  color: white;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  font-size: 12px;
}

.latest-project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.latest-project img{
  width: 250;
  object-fit: cover;
  margin-top: 20;
  border-radius: 7px;
}


.latest-project p{
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.latest-project span{
  font-size: 16px;
}

 
@media (min-width:768px) {
.showcase-section{
  height: 130dvh;
  padding: 20px;
}
.showcase-section-top{
  justify-content: space-around;
}

.showcase-section-top p{
  font-size: 16px;
}
.latest-project-grid{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows:  1fr 1fr;
    gap:20px;
}
.showcase-section-top button{
  padding: 15px 25px 15px 25px;
  font-size: 13px;
}

.latest-project img{
  width: 300;
}
}

@media (min-width: 1024px) {
  .showcase-section{
    height: 110dvh;
    padding: 20px;
  }

  .showcase-section-top p{
      font-size: 20px;
    }
  .latest-project-grid{
    gap:50px;
    }
  .showcase-section-top button{
    font-size: 15px;
  }

  .latest-project img{
    width: 350;
  }
}

@media (min-width: 1440px) {
  .showcase-section{
    height: 110dvh;
  }

  .showcase-section-top p{
      font-size: 23px;
  }

  .showcase-section-top button{
    font-size: 18px;
  }

  .latest-project img{
    width: 400px;
  }


  .latest-project p{
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .latest-project span{
    font-size:26px;
  }
}
